.post {
  font-size: 1rem;
  width: 35rem;
  max-width: 100vw;
  padding: 0 2rem;
  background: var(--bg);
  margin: 0 auto;
}

.post h3 {
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  display: inline-block;
  margin: calc(2 * var(--gap-double)) 0 0;
}

.post p {
  color: #555;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 1.7;
}

.post a {
  color: #0070f3;
  text-decoration: none;
}

.post pre {
  white-space: pre;
}

.post pre code {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.post code {
  font-size: 0.8rem;
  background: #f1f1f1;
  padding: 0.2rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
}

.post code:not(.inline) {
  display: block;
  padding: 0.8rem;
  line-height: 1.5;
  background: #f5f5f5;
  font-size: 0.75rem;
  border-radius: var(--radius);
}

.post figure {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}

.post figure video {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

.post figure figcaption {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

.post mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

@media (max-width: 600px) {
  .post {
    padding: 0 1rem;
  }
}
